@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

body{
  background: #F1F2F7;
  font-family: 'Open Sans',sans-serif;
  
  header{
    nav{
      font-size: 1.1em;
      ul{
        list-style: none;
        padding: 0px;
        li{
          width-left: 100px;
          padding: 0px;
          display: block;
          a{
            display: block;
            color: #A9ADB7;
            text-decoration: none;
            padding: 15px 15px;
            span{
              font-size: 1.3em;
              margin-left: 15px;
              margin-right: 10px;
            }      
          }
        }
        li:hover{
          background: #28282E;
          a:hover{
            color: #1FB5AD;
            text-decoration: none;
          }
        }
      }
    }
  }
}

#menu-var{
	position: relative;
  overflow: hidden;
  width: 100%;
  height: 1000px;
}

#main{
	width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: 235ms ease all;
  -transition: 235ms ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: fixed;
}

#nav{
	width: 240px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -240px;
  background: #32323A;
  color: #fff;
  border-right: 1px solid #1FB5AD;
}

.btn-close{
  color: #fff;
  width: 100%;
  text-decoration: none;
  display: block;
  padding: 18px;
  background: #1FB5AD;
}

/*Transicion del menu bar vertical*/
.show-nav #main{
	-webkit-transform: translateX(240px);
  transform: translateX(240px);
  -webkit-transform: translate3d(240px,0,0);
  transform: translate3d(240px,0,0);
}

/*Transicion del contenido*/
#main-content{
  width: 82.8%;
  border: 1px solid red;
  -webkit-transition:all .3 ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
}